
*


!.gitignore


!/alacritty/
!/hypr/
!/rofi/
!/nvim/
!/waybar/
!/river/
!/nostress.jpg
!/README.md


!/alacritty/**
!/hypr/**
!/rofi/**
!/nvim/**
!/waybar/**
!/river/**

!.p10k.zsh
!.zsh_history
!.zshrc
!install.sh
!.tmux.conf
